.our-numbers {
  padding-top: 50px;
  position: relative;
  min-height: 562px;
  background-image: url("../images/build-bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: 0;
  &::after {
    content: "";
    background: rgba(0, 0, 0, 0.22);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__top {
    position: relative;
    z-index: 2;
  }
  &__title {
    color: $white;
    font-size: 50px;
    font-weight: 600;
    line-height: 66px;
    margin-bottom: 237px;
  }
  &__cards {
    column-gap: 15px;
    display: grid;
    grid-template-columns: minmax(230px, 324px) repeat(4, 1fr);
    margin-bottom: 100px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white;
    row-gap: 25px;
    box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.25);
  }

  &__number {
    color: $font-blue;
    font-size: 50px;
    font-weight: 500;
    line-height: 132%;
  }

  &__discr {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 122.5%;
    padding: 0px 10px 50px;
  }
  &__bottom {
    position: relative;
    z-index: 5;
    margin-top: 1px;
  }
}
@media screen and (max-width: 1400px) {
  .our-numbers__number {
    font-size: 35px;
  }
  .our-numbers__cards {
    gap: 15px;
  }
  .our-numbers__discr {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1150px) {
  .our-numbers__cards {
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
  }
  .get-you__discr {
    font-size: 17px;
    line-height: 140%;
  }
}
@media screen and (max-width: 800px) {
  .our-numbers__number {
    font-size: 30px;
  }
  .our-numbers__title {
    font-size: 30px;
    margin-bottom: 80px;
  }
  .our-numbers__cards {
    align-items: center;
    column-gap: 30px;
    row-gap: 70px;
    grid-template-columns: repeat(2, 200px);
  }
  .our-numbers__bottom {
  }
  .our-numbers {
    height: 810px;
  }
}
@media screen and (max-width: 450px) {
  .our-numbers {
  }
  .our-numbers__discr {
    line-height: 150%;
    font-size: 16px;
  }
  .our-numbers__number {
    font-size: 25px;
  }
  .our-numbers__cards {
    grid-template-columns: repeat(2, 170px);
    column-gap: 15px;
    row-gap: 40px;
  }
}
